* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.top-banner-image {
    background-image: url(image/donation1.jpg);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#top-banner-title {
    color: white;
    font-size: 700;
    font-weight: bold;
    text-align: center;
    padding-top: 170px;
}

#top-banner-sub-title {
    color: white;
    text-align: center;
    padding-top: 25px;
}

.donate-now-link {
    background-color: tomato;
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    padding: 12px 15px;
}

.donate-now {
    padding-top: 35px;
    text-align: center;
    margin-bottom: 60px;
}

.donate-today-container {
    width: 65%;
    margin: 0 auto;
    margin-top: 65px;
}

.donate-today-title {
    font-size: 25px;
    text-align: center;
}

.donate-today-sub-title {
    text-align: center;
    margin-top: 27px;
}

.donate-today-div {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.donate-today-sub-div {
    width: 15%;
    background-color: #f5f6fa;
    font-size: 20px;
    padding: 35px 0px;
    text-align: center;
}

.second-div {
    width: 15%;
    color: #ff7675;
    background-color: #ffb8b858;
    padding: 30px 0px;
    border: 2px solid #ff7675;
}

.other-amount-div {
    margin-top: 60px;
    margin-bottom: 12px;
    text-align: center;
}

.other-amount-taka {
    color: #b2bec3;
    font-size: 16px;
}

.other-amount {
    margin-top: 5px;
    width: 100%;
    color: #b2bec3;
}

.our-donate-plan-container {
    width: 70%;
    margin: 0 auto;
}

.our-donate-plan-div {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.our-donate-plan-sub-div1 {
    width: 27%;
    background-color: #dff9fb;
    padding: 32px 20px;
}

.our-donate-plan-sub-div2 {
    width: 27%;
    background-color: #ffb8b858;
    padding: 32px 20px;
}

.our-donate-plan-sub-div3 {
    width: 27%;
    background-color: rgba(247, 247, 135, 0.502);
    padding: 32px 20px;
}

.sub-div-heading {
    margin-top: 15px;
}

.sub-div-paragraph {
    margin-top: 15px;
    font-size: 15px;
    color: #a1a5a6;
}

.flexible-container {
    width: 75%;
    margin: 0 auto;
    margin-top: 80px;
    margin-right: 100px;
}

.flexible-div {
    display: flex;
    justify-content: space-between;
}

.left-half-width {
    width: 40%;
    padding-right: 20px;

}

.right-half-width {
    width: 65%;

}

.half-width-paragraph {
    margin-top: 30px;
}

.right-image {
    width: 75%;
}

.how-to-contribute {
    text-align: left;
    margin-top: 30px;
}

.how-to-contribute-link {
    background-color: tomato;
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    padding: 12px 15px;
}

.partner-logo {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    margin-left: 90px;
}

.microsoft {
    width: 70%;
}

.yellow-color {
    background-color: rgba(247, 247, 135, 0.502);
    width: 90%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 60px;
}

.email {
    border: none;
    background-color: #b2bec3;
    padding: 10px 25px;
}

.subcribe-button {
    border: none;
    background-color: tomato;
    padding: 10px 25px;
}

.footer-background {
    background-color: black;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 25px;
    margin-top: 60px;
}

.footer-heading {
    color: #ff7675;
    font-family: 'Lobster Two', cursive;
    font-size: 25px;
    margin-bottom: 10px;
}

.footer-paragraph {
    color: white;
}